body{
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
  width: 100vw;
  height: 100dvh;
  overflow:hidden;
  
  background: var(--prim);
}

:root{
   --prim:#263238;
   --second:#37474F;
   --color:#455A64;
}

/* Screen Image on top */
.screen{
   width: 100vw;
   /*background: url('/img/background/F0-0.jpg');*/
   background-repeat: no-repeat;
   background-size: 100%;
   object-fit: cover;
   aspect-ratio: 16/9;
   display: flex;
   justify-content: center;
   align-items: center;
}
.screen .screenMonster{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.screenMonster .monsterIcon{
  font-size: 5em;
}
.screenMonster .monsterStat{
  justify-content: center;
  color: white;
}


/* Style Button Action*/
.btnActions{
  border: 0;
  outline: 0;
  padding: 1em;
  margin: 1em;
  background: var(--color);
  border-radius: 1em;
  flex-grow: 1;
  color: white;
  transition: .5s all;
}
.btnActions:active{
   background: var(--color);
   font-weight: bold;
}
.actions{
   display: flex;
   justify-content: space-evenly;
}


/* Log Style */
.logs{
   max-height: 40vh;
   overflow-y: scroll;
   color: white;
   scroll-behavior: smooth;
   transition: all 1s;
}

.contBody{
   background: var(--second);
   padding: 1em;
   margin: 1em;
   min-height: 50vh;
   max-height: 60vh;
   border-radius: 1em;
   transition: all 1s;
}


/* Parameter Container*/
.contHead{
   max-height: 5vh;
   overflow: scroll;
   padding: 1em;
   margin: 0;
   background: var(--second);
   color: white;
   display: flex;
   justify-content: space-between;
}
.contHead *{
   margin: 0;
}
.params{
   width: 100dvh;
   display: flex;
   justify-content: space-between;
}
.params p{
   text-align: center;
   font-size: 1em;
   font-weight: 900;
}
.timeIndex {
  color: lightblue;
}

/* Another Option */
.contOption{
   position:absolute;
   bottom:-50vh;
   transition:all 1s;
   overflow-y: scroll;
   width:100dvw;
   height:50vh;
   background:lime;
}
.contOption::after{
   content: " ";
   height:25px;
   width:100px;
   background:yellow;
   position:absolute;
   top:-25px;
}
.btn{
   position: absolute;
   bottom: 0;
   padding:1em;
   z-index:2;
   transition: all 1s;
}
.a{
   width: 25dvw;
   height: 100px;
   background: pink;
  }
